 body {
     background-color: rgba(233, 230, 230, 0.719)}    
    
 .nav {
    display: flex;
    -ms-flex-align: center;
}
#top-image:hover{
    transform: rotatex(360);
    transition-duration: 1s;
}
#big-title {
    font-size: 50px;
    text-align: center;
}